asyncio
aiohttp
obsws-python
google-auth-oauthlib
google-api-python-client
google-api-python-client-stubs 
dataclasses-json
sqlalchemy
click
schedule
platformdirs
debugpy
textual
textual-dev