$border-color-nofocus: $panel;
$border-title-color-nofocus: $panel;
$border-color-focus: $primary;
$border-title-color-focus: $primary;

Container {
  border: round $border-color-nofocus;
  border-title-color: $border-title-color-nofocus;
  background: $background;
}

Container:focus-within {
  border: round $border-color-focus;
  border-title-color: $border-title-color-focus;
}

#main {
  width: 1fr;
  height: 1fr;
}

/* Console */

Console {
  height: 1fr;
  padding: 0 1;
  
  #command-bar {
    width: 1fr;
    height: 1;
  }

  #execute-button {
    height: 1;
    border: none;
    margin-left: 1;
  }  

  Input {
    border: none;
    padding: 0;
    height: 1;
  
    margin-left: 1;
    width: 1fr;
  }

  Rule {
    color: $border-color-nofocus;
    margin: 0;
  }
}

Console:focus-within {
  Rule {
    color: $border-color-focus;
  }
}

#console-log {
  height: 1fr;
}